.navbar {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary);
}

.navbar h1 {
    color: var(--background);
}

.navbar a {
    color: var(--background);
    text-decoration: none;
}

.navbar * {
    font-size: 0.9em;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: auto;
    padding: auto;
}

.navbar ul li {
    margin: 0 1em;
}