.container {
    max-width: 550px;
    min-width: 240px;
    margin: 5% auto 0 auto;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border-radius: 10px;
    padding: 1em;
}

.container img {
    display:block;
    margin:auto;
    width: 2em;
}

fieldset {
    margin: 0 0 1em 0;
    border: none;
    padding: 0;
}

legend {
    text-align: center;
    font-size: 2em;
    margin: .5em auto;
}

/* Full-width inputs */
input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0 24px;
    display: inline-block;
    border: 1px solid var(--gray4);
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: var(--primary);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    transition: .3s;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1em;
}

/* Add a hover effect for submit button */
button:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
    background-color: var(--pDark);
}

.loggedIn {
    text-align: center;
}

.loggedIn p {
    font-size: 2em;
    margin-top: 0.5em;
}

.loggedIn img {
    width: 2em;
}