@import './colors.css';

*>body {
  background-color: var(--background);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: var(--secondary);
}

input[type=text],
input[type=password],
input[type=email],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0 24px;
  display: inline-block;
  border: 1px solid var(--gray4);
  box-sizing: border-box;
}

.errorMessage {
  padding: 12px 20px;
  margin: 8px 0 24px;
  background-color: var(--red);
  color: #fff;
  border-radius: 10px;
}

label {
  text-transform: capitalize;
}