@import './colors.css';

*>body {
  background-color: var(--background);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: var(--secondary);
  transition: .3s;
  text-decoration: none;
}

a:hover {
  color: var(--sDark);
  text-decoration: underline;
}

input[type=text],
input[type=password],
input[type=email],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0 24px;
  display: inline-block;
  border: 1px solid var(--gray4);
  box-sizing: border-box;
}

button {
    background-color: var(--primary);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    transition: .3s;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1em;
}

button:hover:enabled {
  box-shadow: 0 0 1em rgba(33, 33, 33, .3);
  background-color: var(--pDark)
}

.error-message {
  padding: 12px 20px;
  margin: 8px 0 24px;
  background-color: var(--red);
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
}

.success-message {
  padding: 12px 20px;
  margin: 8px 0 24px;
  background-color: var(--secondary);
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
}

label, strong {
  text-transform: capitalize;
}

.delete-button{
  background-color: var(--red);
}

.delete-button:disabled, .edit-button:disabled{
  opacity: 50%;
  background-color: var(--gray4);
  cursor: not-allowed;
  color: #333;
}

.delete-button:hover:enabled {
  background-color: var(--rDark)
}

.edit-button {
  background-color: var(--secondary);
}

.edit-button:hover:enabled {
  background-color: var(--sDark)
}

.user-list-item-buttons{
  display: flex;
  justify-content: space-between;
}

.user-list-item-buttons button{
  width: 49%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.low-emphasis {
  color: var(--gray2)
}