@import './colors.css';

*>body {
  background-color: var(--background);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: var(--secondary);
  transition: .3s;
  text-decoration: none;
}

a:hover {
  color: var(--sDark);
  text-decoration: underline;
}

input[type=text],
input[type=password],
input[type=email],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0 24px;
  display: inline-block;
  border: 1px solid var(--gray4);
  box-sizing: border-box;
}

.error-message {
  padding: 12px 20px;
  margin: 8px 0 24px;
  background-color: var(--red);
  color: #fff;
  border-radius: 10px;
}

label {
  text-transform: capitalize;
}

.delete-button{
  background-color: var(--red);
}

.delete-button:disabled, .edit-button:disabled{
  opacity: 50%;
  background-color: var(--gray4);
  cursor: not-allowed;
  color: #333;
}

.delete-button:hover:enabled {
  box-shadow: 0 0 11px rgba(33, 33, 33, .2);
  background-color: var(--rDark)
}

.edit-button {
  background-color: var(--secondary);
}

.edit-button:hover:enabled {
  box-shadow: 0 0 11px rgba(33, 33, 33, .2);
  background-color: var(--sDark)
}

.user-list-item-buttons{
  display: flex;
  justify-content: space-between;
}

.user-list-item-buttons button{
  width: 49%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}